.de{
    position:absolute;
    width:80%;
    height:0px;
    border-radius: 5px;
    margin-inline:5%;
    padding: 5%;
    overflow: hidden;
}

.de-name{
    display: inline-block;
    margin: 0;
}

.de-time{
    font-size: 14px;
}