.msc{
    width: 11vw;
    height: 13vh;
    border: 1px #e3e3e3 solid;
    border-radius: inherit;
}

.msc-body{
    height: 100%;
}

.msc-day{
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    color: #b3b3b3;
}
.msc-event{
    background-color: #3c86af;

    width: 10px;
    height: 10px;

    border-radius: 5px;
    display: flex;

    margin-inline: 2%;
}

.msc-events{
    overflow: hidden;
}